* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 17px;
}

body {
  background: #e8e8e8;
}

.block-editior__preview * {
  line-height: 22px;
}

.block-editior__preview h1 {
  font-size: 30px;
  font-weight: 700;
}

.block-editior__preview h2 {
  font-size: 25px;
  font-weight: 700;
}

.block-editior__preview * + h2 {
  margin-top: 30px;
}

.block-editior__preview h1 + * {
  margin-top: 25px;
}

.block-editior__preview h2 + * {
  margin-top: 15px;
}

.block-editior__preview p {
  margin-bottom: 15px;
}

.block-editior__preview a {
  text-decoration: underline;
  color: #7e86ff;
}

.block-editior__preview ul {
  padding-left: 16px;
}

.block-editior__preview ul ul {
  margin-top: 3px;
}

.block-editior__preview li {
  margin-bottom: 3px;
}
